/* ปรับการตั้งค่าเริ่มต้น */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/darktone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    height: 110vh;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(180deg, #282828, #040404);
    border-radius: 8px;
    box-shadow: 1px 1px 30px #ffffff;
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 500;
}

.head {
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
}

.input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    appearance: none; /* ปิดปุ่มเพิ่ม/ลด */
}

.result {
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #ffffff;
}

#totalAmount {
    font-size: 18px;
    color: #ffffff;
}

canvas {
    margin-top: 20px;
    max-width: 100%;
}
.bigbox{
    width: 100%;
    padding-top: 10vh;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 55px; */
    /* margin-bottom: 55px; */
}
.bottom-box{
    height: 10vh;
}