* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/darktone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
}

#item-list,
#favorite-list {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    gap: 10px;
    /*justify-content: center;*/
    padding: 10px;
}

.item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item,
.favorite-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background: linear-gradient(180deg, #282828, #040404);
    
}

.favorite-btn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 25px;
    transition: 0.3s ease;
}
.favorite-btn:hover{
    transform: scale(1.5);
}

.head {
    margin-top: 75px;
}

.search-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 10px;
}

#search-bar {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.fav-link {
    background: linear-gradient(180deg, #282828, #040404);
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn {
    background: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 55px;
}


/* error message */
.error-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    transition: top 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.error-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.show {
    top: 20px;
    visibility: visible;
    opacity: 1;
}

.invisible {
    visibility: hidden;
    display: none;
}