* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('../img/darktone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
